/*.container .row .col {
  background-color: darkred;
  color: black;
  padding: 2rem;
} */
.slide * {
  z-index: 2;
}
#specList{
  font-size:3vh;
}
.spacer {
  height: 1.5rem;
}
body {
  margin: 0;
  padding: 0;
  overflow:hidden;
}
.img-fluid{
  background: transparent;
}
.slide {
  width: 100vw;
  height: 100vh;
  font-size: 3vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 700vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.one {
  /*background: yellow;*/
  border-right: .5rem solid black;
  background-size: auto 100vh;
  background-repeat: repeat-x;
  width: 400vw;
  height: 100vh;
}
.two {
  border-left: .5rem solid black;
  border-right: .5rem solid black;
  background-size: auto 100vh;
  background-repeat: repeat-x;
  width: 400vw;
}
.three {
  border-left: .5rem solid black;
  border-right: .5rem solid black;
  background-size: auto 100vh;
  background-repeat: repeat-x;
  width: 400vw;
}
.four {
  border-left: .5rem solid black;
  border-right: .5rem solid black;
  background-size: auto 100vh;
  background-repeat: repeat-x;
  width: 400vw;
}
.five {
  border-left: .5rem solid black;
  border-right: .5rem solid black;
  background-size: auto 100vh;
  background-repeat: repeat-x;
  width: 400vw;
}
.six {
  border-left: .5rem solid black;
  border-right: .5rem solid black;
  background-size: auto 100vh;
  background-repeat: repeat-x;
  width: 400vw;
}
.seven {
  border-left: .5rem solid black;
  background-size: auto 100vh;
  background-repeat: repeat-x;
  width: 400vw;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.floor {
  position: absolute;
  bottom: 3rem;
  background-image: url(../images/brick.png);
  z-index: 2;
  height: 3rem;
  width: 700vw;
}
/*
::-webkit-scrollbar {
  display:none;
}
*/